@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

nav{
    background-color: black;
}
nav ul{
    
    display: flex;
    justify-content: space-between;
}
nav ul li{
   color: white;

}