*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: rgb(51, 51, 51);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: auto SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}


nav{
  display: flex;
  justify-content: space-between;
 align-items: baseline;
  background-color: rgb(51, 51, 51) ;
  
   margin: 20px 28%;

}

h3{
   font-weight: 500;
    line-height: 1.2;
  color: white;
  font-size: 28px;
}
nav ul li{
 
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
  
   
 display: inline;
 font-size: 16px;
 
}
.home{
  color: white;
  
  text-decoration: underline 5px white;
  
}
.home:hover{
  text-decoration: underline 5px grey;
}

.contact{
  color: grey;
}
.contact:hover{
  text-decoration: underline 5px grey;
}
.features{
  color: grey;
  margin: 0 10px;
}
.features:hover{
  text-decoration: underline 5px grey;
}

section{
 margin: 120px 30%;
}
header{
  margin: 30px 0;
text-align: center;

  
}
h1{
  font-weight: 500;
  margin: 20px 0;
   font-size: 40px;
  color: white;
}
p{
  line-height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.but{
  margin: 0 38.4%;
}
button{
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  border-radius: 7px;
  color: rgb(59, 58, 58);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}



footer{
  color: grey;
}
.mdo{
  color: white;
  text-decoration: none;
}
.mdo:hover{
  text-decoration: underline white;
}


