*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: rgb(51, 51, 51);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: auto SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


nav{
  display: flex;
  justify-content: space-between;
 align-items: baseline;
  background-color: rgb(51, 51, 51) ;
  
   margin: 20px 30%;

}

h3{
  color: white;
  font-size: 27px;
}
nav ul li{
 display: inline;
 font-size: 16px;
 font-weight: bold;
}
.home{
  color: white;
  text-decoration: underline;
  
}

.contact{
  color: grey;
}
.contact:hover{
  text-decoration: underline grey;
}
.features{
  color: grey;
  margin: 0 10px;
}
.features:hover{
  text-decoration: underline grey;
}

section{
 margin: 120px 30%;
}
header{
  margin: 20px 0;
text-align: center;

  
}
h1{
  margin: 20px 0;
   font-size: 40px;
  color: white;
}
p{
  line-height: 30px;
  color: white;
  font-size: 20px;
}
.but{
  margin: 0 38.4%;
}
button{
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  border-radius: 7px;
  color: rgb(59, 58, 58);
  font-size: 20px;
  font-weight: bold
}



footer{
  color: grey;
}
.mdo{
  color: white;
  text-decoration: none;
}
.mdo:hover{
  text-decoration: underline white;
}


